In [1]:
import requests  #similar to urllib, this library allows a computer to ping a website
import json      #library to handle JSON formatted data

In [2]:
#URL to NASA API
url = r"https://data.nasa.gov/resource/gh4g-9sfh.json"

In [3]:
resp = requests.get(url)
resp

In [4]:
#send a request to the website to return back text data from the API
#returns data as JSON string
str_data = resp.text
#str_data

In [5]:
#loads function reversed dictionary order
#dictionary objects are unordered in general
NASAdata = json.loads(str_data)
#NASAdata

In [6]:
NASAdata[0]

{'name': 'Aachen',
 'id': '1',
 'nametype': 'Valid',
 'recclass': 'L5',
 'mass': '21',
 'fall': 'Fell',
 'year': '1880-01-01T00:00:00.000',
 'reclat': '50.775000',
 'reclong': '6.083330',
 'geolocation': {'latitude': '50.775', 'longitude': '6.08333'}}

In [7]:
#set empty lists to hold each feature's information
#ID Year Fall Name Name Type Mass Latitude Longitude

ID = []
Year = []
Fall = []
Name = []
Name_Type = []
Mass = []
Latitude = []
Longitude = []

In [8]:
Meteorites = NASAdata

In [10]:
for Meteorite in Meteorites:

    try: mass_mt = Meteorite['mass']
    except: mass_mt = None
        
    try: year_mt = Meteorite['year']
    except: year_mt = None
        
    try: rec_lat = Meteorite['reclat']
    except: rec_lat = None
        
    try: rec_long = Meteorite['reclong']
    except: rec_long = None
        
        
        
    ID.append(Meteorite['id'])
    Year.append(year_mt)
    Fall.append(Meteorite['fall'])
    Name.append(Meteorite['name'])
    Name_Type.append(Meteorite['nametype'])    
    Mass.append(mass_mt)
    Latitude.append(rec_lat)
    Longitude.append(rec_long)

In [11]:
print(len(ID))
print(len(Year))
print(len(Fall))
print(len(Name))
print(len(Name_Type))
print(len(Mass))
print(len(Latitude))
print(len(Longitude))

1001
1000
1000
1000
1000
1000
1000
1000

In [12]:
#match indices of each list and zip into one list
Mtr_List = list(zip(ID, Year, Fall, Name, Name_Type, Mass, Latitude, Longitude))

#names for columns in data frame
colnames = ['ID', 'Year', 'Fall', 'Name', 'Name Type', 'Mass', 
            'Latitude', 'Longitude']

In [13]:
import pandas as pd

In [14]:
Meteors_List = pd.DataFrame(Mtr_List, columns=colnames)

Meteors_List.head(10)

,ID,Year,Fall,Name,Name Type,Mass,Latitude,Longitude
0,1,1880-01-01T00:00:00.000,Fell,Aachen,Valid,21,50.775000,6.083330
1,1,1951-01-01T00:00:00.000,Fell,Aarhus,Valid,720,56.183330,10.233330
2,2,1952-01-01T00:00:00.000,Fell,Abee,Valid,107000,54.216670,-113.000000
3,6,1976-01-01T00:00:00.000,Fell,Acapulco,Valid,1914,16.883330,-99.900000
4,10,1902-01-01T00:00:00.000,Fell,Achiras,Valid,780,-33.166670,-64.950000
5,370,1919-01-01T00:00:00.000,Fell,Adhi Kot,Valid,4239,32.100000,71.800000
6,379,1949-01-01T00:00:00.000,Fell,Adzhi-Bogdo (stone),Valid,910,44.833330,95.166670
7,390,1814-01-01T00:00:00.000,Fell,Agen,Valid,30000,44.216670,0.616670
8,392,1930-01-01T00:00:00.000,Fell,Aguada,Valid,1620,-31.600000,-65.233330
9,398,1920-01-01T00:00:00.000,Fell,Aguila Blanca,Valid,1440,-30.866670,-64.550000